@keyframes slideInFromLeft {

  0% {
	
    transform: translateX(0);

  }
  100% {
    transform: translateX(+105%);
  }
}


tr:nth-child(n)
{

	animation: 1s ease-out 0s 1 normal forwards slideInFromLeft;  
	animation-fill-mode: forwards;
  /* This section calls the slideInFromLeft animation we defined above */
  
  padding: 30px;
}



td
{
	text-align:center;
	
}

table {
position: relative;
left:-105%;
}
